<% if @errors %>
<ul>
<% @errors.each do |error| %>
  <li><%= error %></li>
<% end %>
</ul>
<%end %>

<div class="login">

<%= form_tag sessions_path do %>

  <%= label_tag :email %>
  <%= email_field_tag :email %><br>

  <%= label_tag :password %>
  <%= password_field_tag :password %><br>
  <div class="btn btn-primary btn-block btn-large"><%= submit_tag "login" %></div>
<% end %>
</div>