<header class="main-header logo" id="home-img">
<h1><%= @concerts.first.image %> Join the BandWagon</h1>

</header>




<% @concerts.each do |concert| %>

  <figure class="snip1585">
  <img src="/assets/soundboard.jpeg">
    <figcaption>
        <h3><%= concert.band %><span><%= concert.venue %> on <%= concert.date.strftime("%B %e") %> at <%=concert.start_time %></span></h3>
    </figcaption>
  <a href="/concerts/<%=concert.id%>"></a>
  </figure>
<% end %>


