<header class="main-header logo" id="home-img">
<h1>Join the BandWagon</h1>

</header>

    <% @concerts.each do |concert| %>
      <figure class="snip1585">
        <img src=<%= concert.image %>></img>
        <figcaption>
            <h3><%= concert.band %><span><%= concert.venue %> on <%= concert.date.strftime("%B %e") %> at <%=concert.start_time %></span></h3>
        </figcaption>
        <a href=<%=concert_path(concert)%>></a>
      </figure>
    <% end %>

<%= paginate @concerts %>
<%= page_entries_info @concerts %>

