<header class="main-header logo" id="home-img">
<h1>Join the BandWagon</h1>

</header>



    <% @concerts.each_with_index do |concert, idx| %>
      <figure class="snip1585">
        <%= link_to (image_tag(concert.image)), concert_path(concert) %>
        <figcaption>
            <h3><%= concert.band %><span><%= concert.venue %> on <%= concert.date.strftime("%B %e") %> at <%=concert.start_time %></span></h3>
        </figcaption>
      </figure>
    <% end %>


