<% if @errors %>
<ul>
<% @errors.each do |error| %>
  <li><%= error %></li>
<% end %>
</ul>
<%end %>

<div class="elegantshadow">
<h1><%=@concert.band%></h1>
</div>


<div class="info">
    <h3><%=@concert.date.strftime("%B %e") %></h3>
    <p>Where: <%= @concert.venue %></p>
    <p>When: <%= @concert.start_time %></p>

</div>

<% if logged_in? %>

<div class="text">
  <h3>Attending:</h3>

  <% if @concert.attendees.any? %>
    <ul class="add">
      <% @concert.attendees.each do |person| %>
        <%= render partial: 'shared/person', locals: {person: person} %>


      <% end %>
    </ul>
  <%else %>
    <p>Join the BandWagon!</p>
  <%end %>
</div class="attendancebutton">
    <% if @concert.attendees.exclude? @current_user %>
     <%= render 'shared/new', locals: {attendance: @attendance}, layout: false %>
     <% end %>
<% else %>


<div class="text">
  <h3>Attending:</h3>
    <% if @concert.attendees.any? %>
      <ul>
      <% @concert.attendees.each do |person| %>

          <li><%= person.first_name%> <%= person.last_name %> </li>

        <li><%= person.first_name%> <%= person.last_name %> </li>
      <% end %>
      </ul>
    <% else %>
      <p> Sign in and join the BandWagon!</p>
    <%end %>
</div>

<%end %>



