<% if @errors %>
<ul>
<% @errors.each do |error| %>
  <li><%= error %></li>
<% end %>
</ul>
<%end %>

<% if logged_in? %>
Welcome back, <%= @current_user.first_name %>!
<% end %>
<h1><%=@concert.band%></h1>
<p>Where: <%= @concert.venue %></p>
<p>When: <%= @concert.start_time %></p>
<p>Date: <%= @concert.date %></p>

<% if logged_in? %>

  Attending:
  <ul>
    <%= @concert.attendees.each do |person| %>
      <% if person.id == current_user.id %>
        <li><strong><%= person.first_name%> <%= person.last_name %> </strong></li>
      <%else %>
        <li><%= person.first_name%> <%= person.last_name %> </li>
      <%end %>
    <% end %>
  </ul>
  <% if @concert.attendees.exclude? @current_user %>
   <%= render 'shared/new', locals: {attendance: @attendance}, remote: true, layout: false %>
   <% end %>

<%else %>
  Attending:
    <ul>
    <%= @concert.attendees.each do |person| %>

        <li><%= person.first_name%> <%= person.last_name %> </li>

      <li><%= person.first_name%> <%= person.last_name %> </li>
    <% end %>
    </ul>
<%end %>



