<!DOCTYPE html>
<html>
  <head>
    <title>Phase3Assessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <% if logged_in? %>
  <nav class="fixed-navbar">
    <%= link_to "logout", session_path(current_user), :class => 'nav-bar', method: :delete %>
    <%= link_to "home", root_path, :class => 'nav-bar' %>
  </nav>
  <% else %>
    <nav class="fixed-navbar">
    <%= link_to "login", new_session_path, :class => 'nav-bar' %>
    <%= link_to "register", new_user_path, :class => 'nav-bar' %>
    <%= link_to "home", root_path, :class => 'nav-bar' %>
  </nav>
  <% end %>

    <%= yield %>
  </body>
</html>
